# Airflow Configurations
AIRFLOW_IMAGE_NAME=financial-markets-airflow:latest
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
AIRFLOW__WEBSERVER__EXPOSE_CONFIG=True

# Airflow Admin User
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin

# PostgreSQL Database config (For Curated Storage and Airflow metadata)
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow
POSTGRES_PORT=5432

# Extra Postgres DB for Curated Data (we use same instance but different DB or same DB with different schema)
# To simplify, we will use 'market_data' DB on the same PG host
CURATED_POSTGRES_USER=postgres
CURATED_POSTGRES_PASSWORD=postgres_secure_pass
CURATED_POSTGRES_DB=market_data
CURATED_POSTGRES_PORT=5432

# API Keys
ALPHA_VANTAGE_API_KEY=your_alpha_vantage_api_key_here

# GCS Config
GCS_BUCKET_NAME=ale-camer-financial-markets-raw
GOOGLE_APPLICATION_CREDENTIALS=/app/config/gcp-credentials.json
